
/* Homepage Background CSS */

#main {
    background-image: url("../photo/work.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    height: 100vh;
    overflow: hidden;
    
}

#main::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #333;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}

#main>* {
    z-index: 10;
    position: relative;
    color: white;
}

/* Content HomePage CSS */

.parent{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content:center;     
}

#avatar {
    border-radius: 50%;
    height: 300px;
    width: 300px;
    border: 4px solid #7d7768;
    background-image: url("../photo/Foto\ Alfan6.jpg");
    background-size: cover;
    transform: translateY(50%);
    margin-bottom: 2em;
}

.intro {
    padding-top: 4em;
    color: #ffffff;
    text-transform: uppercase;
}

#name {
    font-weight: 600;
}

.desc-name {
    font-size: 1.5em;
    font-weight: 0;
}

.style-2 {
    border-top: 1px solid #8c8b8b;
    border-bottom: 1px solid #fff;
    width: 570px;
    height: 5px;

}

.position {
    font-size: 2em;
    text-transform: none;
    font-weight: 300px;

}

/* About Me CSS */

#about-me{
    background-image: url("../photo/background-about-me.jpg");
    background-size: cover;
    background-position: center center;
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    
}
#about-me::after {
    content: "";
    display: block;
    width: 100%;
    height: 100%;
    background-color: #211a19;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0.8;
    z-index: 0;
}
a{
    font-size: 1.2em;
}

#about-me>* {
    z-index: 10;
    position: relative;
    color: white;
}

.padding{
    padding-top: 5%;
}

.about-me-page{
     display: flex;
     align-items: center;
     justify-content: center;
     flex-direction: column;
 }

.about-me-header{ 
    font-weight: bold;  
    text-align: center;
    font-weight: 700;
    font-size: 5em;
    text-decoration-line: underline; 
}
.box{
	width: 852px;
    height: 337px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    margin-top : 5%;
    margin-bottom: 5%;
    z-index: -1;
    border: 5px solid #7d7768;
}   
.description{
    text-align: left;
    color: #000000; 
    font-size: 1.7em;
    font: "lora-regular", serif;
    font-weight: 700;
}

.header2-about-me{
    font-size: 4.5em;
    font-weight: 400;
}

/* Portfolio CSS */

#portfolio{
    background: #232526;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #414345, #232526); 
    background: linear-gradient(to bottom, #414345, #232526); 
    position: relative;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 110vh;
    overflow: hidden;   
}

.main-header-portfolio{
    font-size: 5em;
    text-transform: uppercase;
    font-weight: 600;
    text-align: left;
    padding-left: 1.2em;
    color: #FFFFFF;
}
.header-portfolio{
    color: #FFFFFF;
    -webkit-text-decoration-line: underline; 
    text-decoration-line: underline; 
    padding-top: .5em;  
    font-weight: 400;
 
}
.row{
    padding-left: 5%;
}
.desc-poin{  
    color:#ffffff;
    font-size: 1.6em;
}

.logo-portfolio{
    width: 160px;
    height: 160px;
}
.header-description-portfolio{
    color: #FFFFFF;
    font-weight: 300px;
    font-size: 2.2em;
    padding-top: .5em;
}
.desc-port{
    font: #ffffff;
}
.desc-project{
    color: #FFFFFF;
    font-size: 1.6em;
}


/* Contact Page */

#contact{ 
    background: #000000;  
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  
    background: linear-gradient(to bottom, #434343, #000000); 
    height: 120vh;
    
}
#contact-header{
    font-weight: bold;  
    -webkit-text-decoration-line: underline; 
    text-decoration-line: underline; 
}
#contact>* {
    z-index: 10;
    position: relative;
    color: white;
}   

.box-contact{
    width: 70em;
    height: 40em;    
    background: #FFFFFF;
    mix-blend-mode: normal;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 20%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
}
.contact-page{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1em;
}

.icon{
    color: #000000;
    justify-content: start;
    align-items: flex-start;
}
.fa{
    font-size: 150px;
    display: flex;
    flex-direction: column;
}
.icon-contact{
    margin: 5% 10%;
    box-sizing: unset;
}
.icon-contact>*{
    display: flex;
    justify-content: flex-start;
    color: #000000;
    align-items: center;
}
.desc-contact{
    font-weight: 500;
    font-size: 1.8em;
    padding-left: 5%;;
    box-sizing: unset;

}
.jumbotron{
    background: #000000;  
    background: -webkit-linear-gradient(to bottom, #434343, #000000);  
    background: linear-gradient(to bottom, #434343, #000000); 
}
.row-padding{
    padding-left: 0;
}
.thumbnail > img{
    width: 100%;
    height: 20%;
    margin: 1.66%;
}
.back-gallery{
    font-size: 2em;
    color: #8c8b8b
}
.back-gallery:hover{
    background: #c4bcb1;
    color: #827769;

}

@media (max-width: 768px){
    #avatar{
        height: 15em;
        width: 15em;
        margin-bottom: 3em;
    }
    .desc-name{
        font-size: 1em;
    }
    .position{
        box-sizing: content-box;
        width: 60%;
        font-size: 1.4em;
        text-align: center;
        transform:translateX(35%);       
    }
    #name{
        font-size: 2.5em;
    }

    .style-2 {
        width: 70%;
        height: 5px;
    }
    .about-me-header{
        font-size: 3em;
    }
    .box{
        width: 25em;
        height: 15em;
        border-radius: 20%;
        margin-top: 3em;
        margin-bottom: 3em;
    }
    .description{
        font-size: 1.1em;
    }
    .header2-about-me{
        font-size: 3em;
    }
    .padding{
        padding-top: 3em;
    }
    #portfolio{
        height: 160vh;

    }.main-header-portfolio{
        font-size: 3.5em;
    }
    .header-2-portfolio{
        font-size: 2.5em;
    }
    .header-description-portfolio{
        font-size: 1.7em;
    }
    .desc-project{
        font-size: 1.3em;
    }

    .logo-portfolio{
        width: 150px;
        height: 150px;
    }
    .box-contact{
        width: 25em;
        height: 25em;
        border-radius: 25%;
    }
    #contact-header{
        font-size: 3em;
    }
    .desc-contact{
        font-size: 1em;
    }
    .fa{
        font-size: 5em;
    }
    #contact{
        height: 100vh;
    }

}

@media (min-width:769px)  and (max-width: 992px){

    #name{
        font-size: 3.5em;
    }
    #avatar{
        width: 18em;
        height: 18em;
        margin-bottom: 1em;
    }
    .position{
        font-size: 1.7em;
    }
    .box-contact{
        width: 40em;
        height: 30em;
        border-radius: 25%;
    }
    #contact-header{
        font-size: 5em;
    }
    .desc-contact{
        font-size: 2em;
    }
    .fa{
        font-size: 6em;
    }
    #portfolio{
        height: 150vh;
    } 
    .box{
        width: 40em;
        height: 25em;
    }

}
@media (min-width:992px) and (max-width:1200px){
    #portfolio{
        height: 150vh;
    }
    .desc-contact{
        font-size: 2.5em;
    }
    .fa{
        font-size: 9em;
    }
    .box-contact{
        width: 55em;
        height: 40em;
        border-radius: 25%;
    }


}