 {% include 'base.html' %}

{% block body %}
    <section id="about-me">
        <div class="container-fluid about-me-page">
            <div class="text-center padding about-me-header">ABOUT ME</div>
            <div class="box">
                <p class="description">
                    Hi , I am Alfan , a passionate person who <br> are willing to learn with the ability to work <br> in
                    invidual or groups with specialities <br> in communication and negotiation skills
                </p>
            </div>
            <div class="display-3 header2-about-me">Let's Collaborate</div>
        </div>
    </section>

{% endblock %}
