{% include 'base.html' %}


{% block body %}
        
    <section id="contact">
        <div class="container-fluid contact-page">
            <div class="display-3 text-center padding contact-page" id="contact-header">CONTACT</div>
            <div class="box-contact">
                <div class="icon-contact">
                    <div class="phone">
                        <i class="fa fa-phone icon mb-4 ml-4"></i>
                        <h1 class="desc-contact">+6281296240240</h1>
                    </div>
                    <div class="mail">
                        <i class="fa fa-envelope icon mb-4 ml-4"></i>
                        <h1 class="desc-contact">Alfanadhitia@gmail.com</h1>
                    </div>
                    <div class="map ml-4">
                        <i class="fa fa-map-marker icon mb-4 ml-4"></i>
                        <h1 class="desc-contact">Kramat 3 Street No 35A , East Jakarta</h1>
                    </div>
                </div>
            </div>
    </section>

{% endblock body %}
