{% include 'base.html' %}
{% load static %}

{% block body %}
    

    
    <div id="portfolio">
        <div class="container-fluid">
                <div class="jumbotron">
                    <h1 class="main-header-portfolio text-center">Welcome to My Gallery</h1>
                </div>
                
                <div class="row row-padding">
                    <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                            <img src='{% static "gallery/Foto1.jpg" %}'>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                            <img
                                src="{% static 'gallery/Foto2.jpg' %}">
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="thumbnail">
                            <img
                                src="{% static 'gallery/Foto3.jpg' %}">
                        </div>
                    </div>

                </div>
        </div>
    </div>

{% endblock %}