
{% include 'base.html' %}

{% block body %}

    <section id="main">
        <div class="parent">
            <div id="avatar"></div>
            <div class="intro">
                <div class="desc-name text-center intro">Hello, My Name Is </div>
                <div class="display-3 text-center" id="name"> Alfan Lesmana</div>
                <hr class="style-2">
                <div class="position text-center">Faculty of Computer Science | University of Indonesia</div>
            </div>
        </div>
    </section>

{% endblock %}

