{% include 'base.html' %}
{% load static %}


{% block body %}

    <section id="portfolio">
        <div class="container-fluid">
            <h1 class="header-portfolio mb-2 main-header-portfolio">Portfolio</h1>
            <div class="row">
                <div class="col col-xl-6">
                    <div class="display-4 header-portfolio mb-3 header-2-portfolio">EXPERIENCE</div>
                    <h2 class="header-description-portfolio mb-4 ">PT Kreigan Sentral Teknologi</h2>
                    <div class="row">
                        <div class="col col-xl-4">
                            <img class="logo-portfolio mb-5 mt-2 "
                                src="{% static 'photo/Logo_Cash_IT__1_-removebg-preview.png' %}"
                                alt="PT Kreigan Sentral Teknologi">
                        </div>
                        <div class="col col-xl-8">

                            <li class="desc-poin">Making a fit business model in the company</li>
                            <li class="desc-poin">Finding a partner for company growth</li>
                            <li class="desc-poin">Finding a good resource to sustain the product</li>

                        </div>
                    </div>
                    <h2 class="header-description-portfolio mb-4">COMPFEST11</h2>
                    <div class="row">
                        <div class="col col-xl-4">
                            <img class="logo-portfolio mb-5" src="{% static 'photo/0.jpg' %}" alt="Compfest">
                        </div>
                        <div class="col col-xl-8">
                            <li class="desc-poin">Responsible for Seminar Blockchain</li>
                            <li class="desc-poin">Finding appropriate speaker and moderator for blockchain seminar at COMPFEST11</li>
                        </div>
                    </div>
                </div>
                <div class="col col-xl-6">
                    <div class="display-4 header-portfolio mb-3 header-2-portfolio">PROJECT</div>
                    <h2 class="header-description-portfolio mb-4">OpenHouse</h2>
                    <div class="row">
                        <div class="col col-xl-4">
                            <img class="logo-portfolio mb-5 mt-2 " src="{% static 'photo/openhouse.png' %}"
                                alt="OpenHouse">
                        </div>
                        <div class="col col-xl-8 ">
                            <p class="desc-project">
                                Platform to help students finding the
                                answer about lifestyle , guidance , and future in college
                            </p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}    
