{% extends 'base.html' %}

{% block body %}

<div class="container" style="padding-top: 1em;">
  <div class="jumbotron jumbotron-fluid">
    <div class="display-4 text-center text-white" style="font-weight: 500;">Schedule</div>
  </div>
  <form action="{% url 'AddTodo' %}"> 
    <button type='submit' class="btn btn-success btn-lg">Add Jadwal</button>
  </form> 
  <div class="row mt-3">
    <div class="col-12">
      {% for i in jadwal %}
      <div class="card">
        <div class="card-body">
          <h3 class="bold">{{ i.namaTodo }}</h3>
          <h6>{{ i.tempatTodo }}</h5>
            <h6>{{i.dateTodo.date}}</h3>
              <h6>{{i.waktu}}</h6>
              <h6>{{i.category}}</h6>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% endblock body %}