{% extends 'base.html' %}

{% block body %}

<div class="container" style="padding-top: 1em;">
  <div class="display-4 text-center mb-4 border-bottom border-secondary">Add Schedule</div>
  <div class="row mt-3">
    <div class="col-md-4">
      <form method="POST" action="{% url 'AddTodo' %}" class="mb-4">
        {% csrf_token %}
        {% for field in todos %}
        <div class="form-group" style="margin-right: 0; margin-bottom: 1em; font-size: 1rem">
          <label for="id_{{ field.label.lower }}">{{ field.label }}</label>
          {{ field.errors }}
          {{ field }}
        </div>
        {% endfor %}
        <button type="submit" class="btn btn-success btn-lg mt-4">Submit</button>
      </form>
    </div>
    <div class="col-md-6 offset-sm-1" style="overflow: auto; max-height: 85%">
      <div class="row">
        {% for i in jadwal %}
        <div class="col-4 mb-3 mr-3">
          <h4 class="bold">{{ i.namaTodo }}</h4>
          <h6>{{ i.tempatTodo }}</h5>
            <h6>{{i.dateTodo.date}}</h6>
              <h6>{{i.waktu}}</h6>
              <form method="post" action="{% url 'deleteTodo' i.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger">Delete</button>
              </form>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
</div>

{% endblock body %}